*, 
*::after, 
*::before {
margin:0px;
padding:0px;
box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(rgb(255 219 183 / 24%), rgb(150 72 72 / 0%));
    position:relative;
}

html,body
   {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }

.container {
    max-width: 1440px;
    min-width: 414px;
    box-sizing: border-box;
    padding: 0 30px;
    margin: 0 auto;
    width: 100%;
}


header.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px;
    align-items: center;
    
}

ul.nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
}

ul.nav-list li {
    text-decoration: none;
    padding-right:20px;
}

ul.nav-list li a {
    text-decoration: none;
    color:black;
    padding-right: 40px;
}

a.button-small {
    padding: 10px 15px;
    background-image: linear-gradient(to right, rgba(100, 123, 100, 1), rgba(102, 172, 102, 1));
    border-radius:3px;
    color:white;
    text-decoration: none;
}

.nav-logo {
    display: flex;
    align-items: center;
}


.main-title {
    font-size:41px;
    font-weight:500;
    padding-bottom:35px;
    color:rgba(100, 123, 100, 1)
}

.mini-title {
    color: rgb(243, 181, 98);
    padding-bottom: 30px;
    font-size: 30px;
}

.main-description {
    font-size: 20px;
    font-weight:200;
    padding-bottom:35px;
}

.container-half.left .main-button .button-large {
    width:90%;
}

.container-half.right .main-button .button-large {
    width:90%;
}

.hero-block {
    position:relative;
}

.hero-block::after {
    left: -62px;
    content: url(./images/hero-moon.png);
    top: 550px;
    position: absolute;
}



.hero-wrap {
    padding-left: 40px;
    padding-top: 160px;
    padding-bottom: 240px;
    background-image: url(./images/Group\ 2574.png);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: contain;
}

.hero-container {
    width: 35%;
    position: relative;
}

.hero-container .main-title {
    color:black;
    font-weight: bold;
    position:relative;
}

.hero-container .main-title::after {
    content: url(./images/hero-sun.png);
    top: -29px;
    right: 186px;
    position: absolute;
}

/* prima  */

.primary-container {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    padding: 168px 0px;
    position:relative;
}

.container.hero-container {
    width:100%;
    
}

.primary-container .container-half.left {
    width: 40%;
    margin-right: 10%;
}

.primary-container .container-half.right {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    
}

.prima-rectangle {
    background: linear-gradient(18deg, rgb(255 247 240 / 0%), rgb(253 234 218));
    width: 100%;
    height: 20%;
    position: absolute;
    top: 15%;
    left: -60%;
    z-index: -999;
}

.primary-container .box-container.small {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    padding: 30px 30px;
}

.box-container.small.full {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.bg-green {
    background-color:rgb(100, 123, 100);
    padding:10px 10px;
    border-radius: 5px;
    width: 40px;
}

.bg-white {
    background-color: white;
    padding:10px 10px;
    border-radius: 5px;
    width: 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.top-icon {
    padding-bottom: 20px;
}

.box-title {
    font-size: 24px;
    padding-bottom: 20px;
}

.box-description {
    font-size:13px;
    padding-bottom: 10px;
}


a.button-large {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right, rgba(100, 123, 100, 1), rgba(102, 172, 102, 1));
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    width: 60%;
}

/* second wrap */

.second-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-container .container-half.top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-container .container-half.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    column-gap: 40px;
    border-radius: 5px;
}

.dots {
    background-image: url(./images/donts.png);
    width:214px;
    height:214px;
    position:absolute;
    top: 50%;
    left: -10%;
    z-index:-100;
}

.container.second-content-wrap {
    position: relative;
}

.rectan-full {
    background: linear-gradient(176deg, rgb(255 247 240 / 0%), rgb(253 234 218));
    width: 100%;
    height: 30%;
    position: absolute;
    top: 75%;
    left: 82%;
    z-index: -999;
    border-radius: 10px;
}

.second-container .box-container.big.white {
    background-color: wheat;
    padding: 100px 35px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position:relative;
    background: linear-gradient(167deg, rgba(255,255,255,1) 52%, rgba(182,188,189,1) 100%);
}


.second-container .box-container.big.green {
    background-color: rgba(100, 123, 100, 1);
    color:white;
    padding: 100px 35px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* third */

.third-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top:200px;
    column-gap:2%;
}

.third-container .container-half.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
}

.third-container .container-half-left {
    width:100%;
    overflow: hidden;
}

.stock-img-office  {
    max-width: 100%;
    min-height:100%;
}


/* fourth */

.fourth-container {
    display: flex;
    flex-direction: column;
    padding: 200px 0px;
}

.container-half.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-half.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
}


.crew-container-box {
    background-image: linear-gradient(rgb(142 142 142 / 0%), rgb(91 91 91 / 16%));
    padding: 30px 60px;
}

.inner-crew-container.top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80%;
}

.inner-crew-container.bottom {
    padding-top: 30px;
    height:20%;
}

.crew-cto-top {
    font-weight: 600;
    font-size: 16px;
}

.crew-cto-bottom {
    font-weight: normal;
    font-size: 14px;
    padding-top: 5px;
}

.crew-img img{
    width: 100%;
    height:100%;
}



/* foot */

.container.foot-wrap {
    padding: 80px 0px;
}

footer.foot-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

ul.foot-icons-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    justify-items: center;
    align-items: center;
    width: 100%;
    column-gap: 20px;
}

.about-us-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: start;
}

.foot-box.company {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: start;
    justify-content: center;
}

.foot-box.support {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: start;
    justify-content: center;
}

.foot-box.message {
    display: grid;
    align-items: center;
    justify-content: end;
}

.foot-box a.button-large {
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

section.foot-block {
    background-color: rgba(240, 220, 197, 1);
}

span.foot-title {
    color: rgba(100, 123, 100, 1);
    font-weight: bold;
    font-size: 20px;
}

textarea {
    border: none;
    resize: none;
    outline: none;
    padding:10px 20px;
}

.nav-img {
    display: none;
}

@media (max-width:414px) {
/* iPhone 11 dimensions 414x896 */
    header.nav-container {
        display: flex;
        justify-content: space-between;
        padding: 20px 0px;
        align-items: center;
    }

    .container-nav-wrap {
        padding:0px 0px;
    }

    .nav-list-wrap {
        display: none;
    }

    .AU {
        width: 45.5px;
        height: 33px;
    }

    .awesome-ui {
        height: 10px;
        width: 85px; 
    }

    .hero-block {
        padding-top: 100px;
        padding-bottom: 89px;
        background-image: url(./images/Group\ 2574.png);
        background-repeat: no-repeat;
        background-position: 167% 50%;
        background-size: contain;
    }

    .hero-wrap {
        padding-left: 40px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 120px;
        background-image:none;
    }

    .hero-container {
        width:100%;
        position:relative;
    }

    .main-title {
        font-size:20px;
        padding-bottom:10px;
    }

    .mini-title {
        font-size:14px;
        padding-bottom:10px;
    }

    .main-description {
        font-size: 15px;
        font-weight: 200;
        padding-bottom: 35px;
    }

    .primary-container {
        padding-top:0px;
        display: flex;
        flex-direction: column;
        padding: 60px 0px;
    }

    .prima-rectangle {
        background: linear-gradient(18deg, rgb(255 247 240 / 0%), rgb(253 234 218));
        width: 100%;
        height: 6%;
        position: absolute;
        top: -1%;
        left: -18%;
        z-index: -999;
    }

    a.button-large {
        text-decoration: none;
        color: white;
        background-image: linear-gradient(to right, rgba(100, 123, 100, 1), rgba(102, 172, 102, 1));
        padding: 20px 20px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .nav-img {
        display:block;
    }

    .container.primary-content-wrap {
        padding-top: 70px;
        padding-bottom: 0px;
        padding-right:0px;
        padding-left:0px;
    }

    .primary-container .container-half.left {
        width: 100%;
        margin-right: 10%;
        padding-bottom: 70px;
        padding-left: 40px;
        padding-top: 0px;
        padding-right: 120px;
    }

    .primary-container .container-half.right {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        margin-right: 0%;
        padding: 0px 30px 0px 30px;
    }

    .container-half.left .main-button .button-large {
        width: 100%;
    }

    .hero-moon {
        background-image: linear-gradient(rgb(142 142 142 / 0%), rgb(91 91 91 / 16%));
        border-radius: 50%;
        width: 40%;
        height: 40%;
        position: absolute;
        top: 100%;
        right: 95%;
    }


    .box-title{
        padding:10px 0px;
        font-weight: bolder;
        font-size:12px;
    }

    .top-icon{
        padding-bottom:0px;
    }

    .box-description{
        padding-bottom:0px;
        font-size: 9px;
    }

    .container.foot-wrap {
        padding: 30px 30px;
    }

    .box-container.big.white {
        max-height: 200px;
        min-width: 200px;
        border-radius:2px
    }

    .box-container.big.green {
        max-height: 200px;
        min-width: 200px;
    }

    .second-container .container-half.bottom {
        column-gap: 20px;
    }

}


